<!DOCTYPE html>
<html>

<head>
    <title>Audius Search</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <header class="bg-base-100">
        <nav class="navbar">
            <div class="navbar-start">
                <a class="btn btn-ghost normal-case text-xl" href="/">Audius Search</a>
            </div>

            <div class="navbar-end">
                <a class="btn">Get Started</a>
            </div>
        </nav>
    </header>

    <main class="py-6">
    <section class="container mx-10">
    {% block content %}

    {% endblock %}
    </section>
    </main>

</body>

</html>